// Clearfix

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Button
@mixin button() {
  border-radius: 30px 0;
  border: 1px solid;
  cursor: pointer;
}

// Rectangle
@mixin rectangle() {
  width: 32px;
  height: 32px;
  opacity: 0.3;
  position: absolute;
}

@mixin comments() {
  position: relative;
  float: left;
  background-color: #fff;
  border-radius: 30px 0;
  box-shadow: 10px 10px 25px #777;
  padding: 30px 30px 0 30px;
  text-align: left;
}

