// Clearfix

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Button
@mixin button() {
  border-radius: 45px 0;
  border: 1px solid;
  cursor: pointer;
}

@mixin button-2() {
  @include button;
  padding: 15px 40px 15px 40px;
  color: #fff;
  border: none;
  background: $azure;
  width: 306px;
  font-size: 20px;
}

//Regform
@mixin reg() {
  display: inline-block;
  margin-left: 90px;
  text-align: justify;
  width: 250px;
  border-bottom: 3px solid $white;
  color: $white;
  & p:first-child {
    float: left;
  }
  & p:last-child {
    float: right;
  }
}
//Input
@mixin input() {
  & input {
    background: none;
    border: none;
  }
  ::-webkit-input-placeholder {
    color: $white;
  }
  ::-moz-placeholder {
    color:$white;
  }
}

// Rectangle
@mixin rectangle() {
  width: 32px;
  height: 32px;
  opacity: 0.3;
  position: absolute;
}

@mixin comments() {
  position: relative;
  float: left;
  background-color: #fff;
  border-radius: 30px 0;
  box-shadow: 10px 10px 25px #777;
  padding: 30px 30px 0 30px;
  text-align: left;
}

