/*--- FONTS ---*/
$font-primary			      :'Raleway', sans-serif;
$font-size-base:18px;

  /*---- COLORS ----*/
$primary				        :		  #393f4c;
$white 					        : 		#fff;
$white-light 					  : 		rgba(255,255,255,0.5);
$blue                   :     #0e3f7a;
$blue-light             :     #b2c1d4;
$orange                 :     #ff4e22;
$orange-dark            :     #dc4620;
$green                  :     #13bf80;
$azure                  :     #03cea4;
$grey                   :     #c3c5c9;
$grey-light             :     #ebecec;
$grey-dark              :     #1d1d1d;

/*---- EFFECTS ----*/
$transition-base		    : 		0.33s;
