header {
  background: url("../img/bg-top.jpg") center no-repeat;
  background-size: cover;
  box-sizing: border-box;
  height: 100vh;

  .lay {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    height: 100%;
  }

    .top-button:first-child {
      @include button;
      border-color: $azure;
      padding: 10px 10px;
      float: left;
      margin: 5px 15px;
    }
    .top-button:last-child {
      @include button;
      border: none;
      box-sizing: border-box;
      background: $azure;
      padding: 10px 10px;
      float: left;
      margin: 5px 15px;
    }
    .button-2 {
      @include button;
      padding: 15px 40px 15px 40px;
      color: #fff;
      border: none;
      background: $azure;
      width: 150px;
      margin: 0 auto;
    }
    .htop {
      position: absolute;
      left:0;
      right: 0;
      display: flex;
      justify-content: center;
      text-align: center;
      padding: 15px 10px;
      background-color: rgba(0, 0, 0, 0.9);
      height: 30px;
      color: #fff;
    }

    .bq {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin-bottom: 20px;
    }
    p {
      font: $font-primary;
      text-align: center;
    }
    hr {
      align-content: center;
      width: 70px;
      height: 3px;
      background: #fff;
      border: none;
    }
    .head {
      display: flex;
      justify-content: space-between;

    }

    .logo {
      margin: 0;
      padding-top: 20px;
    }

    h2 {
      text-align: center;
    }

    nav {
      margin-top: 5px;
      margin-bottom: 40px;
      padding-top: 0;
      ul {
        list-style: none;
        margin-right: 20px;
      }
      li {
        display: inline-block;
        padding-left: 15px;
      }
      li:first-child {
        padding-left: 0;
      }
      .button-log {
        @include button;
        border-color: $azure;
        padding: 10px 10px;
      }
      li a {
        text-decoration: none;
      }
    }
  }

.thumb_slider {
  margin-top: 50px;

}
.left-col {
  float: left;
  margin-left: 50px;
  q {
  font-style: italic;
    display: block;
    padding-top: 10px;
  }
  p {
    line-height: 1.0;
  }
}
.right-col{
  float: right;
  margin-right: 50px;
}
.author2 {
  display: block;
  padding-top: 20px;
  font-style: italic;
  img {
    float: left;
    padding: 7px 15px 0 0;
  }
}


.thumb-slider-dots {
  padding-left: 0;
  margin-top: 54px;
  cursor: pointer;


  li {
    list-style: none;
    display: inline-block;
    margin-right: 13px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: $grey-light;

    &.slick-active {
      background: $azure;
    }

    &:last-child {
      margin-right: 0;
    }

    &>* {
      display: none;
    }
  }
}

.shadow {
  position: relative;
  float: left;
}

.right-col hr {
  width: 50px;
  height: 3px;
  background: #777;
  border: none;
}

.qw {
  @include comments;
  left: 210px;
  top: -300px;
  z-index: 5;
  height: 115px;
  width: 115px;
}

.qv {
  @include comments;
  left: 63px;
  top: -180px;
  z-index: 3;
  height: 130px;
  width: 300px;
}


.testimonial {
  padding: 120px 0 70px;
  background: url("../img/block-3.jpg") center no-repeat;
  background-size: cover;


  .quotes {
    display: block;
    margin: 0 auto 56px;
    width: 76px;
    height: 48px;
    background: transparent url(../img/quotes.svg) center center no-repeat;
  }

  .dotted-slider {
    text-align: center;
    .slide {
      outline: 0;

      .comment {
        font-size: 28px;
        line-height: 38px;
        font-style: italic;
        margin: 0 0 46px;
      }

      .name {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 15px;
      }

      .author {
        padding-left: 95px;
        position: relative;
        height: 72px;
        display: inline-flex;
        margin: 0 auto;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;

        .photo {
          width: 72px;
          height: 72px;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 15px;
        }



      }
    }
    .slick-dots {
      padding-left: 0;
      margin-top: 54px;


      li {
        list-style: none;
        display: inline-block;
        margin-right: 13px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $grey-light;

        &.slick-active {
          background: $azure;
        }

        &:last-child {
          margin-right: 0;
        }

        &>* {
          display: none;
        }
      }
    }
  }
}





$complete: #2B2B2B;
$active: #262626;
$mute: #E8E8E8;

.progress {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: darken($mute, 100%);

  > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 0.9em;

    &:before {
      content: attr(data-step);
      display: block;
      margin: 0 auto;
      color: $white;
      background: $white;
      border: 8px solid $mute;
      width: 130px;
      height: 130px;
      font-size: 24px;
      margin-bottom: 4px;
      border-radius: 100%;
      position: relative;
      z-index: 1000;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      background: $mute;
      width: 100%;
      height: 0.5em;
      top: 2.1em;
      left: 50%;
      margin-left: 1.5em\9;
      z-index: -1;
    }
    &:last-child:after {
      display: none;
    }
    &.is-complete {
      color: $complete;


      &:before{
        font-size: 48px;
        color: $active;
      }
      &:after {
        color: $active;
      }
    }
    &.is-active {
      color: $complete;

      &:before {
        color: $active;
        background: $white;
        font-size: 48px;
        border: 8px solid $mute;
      }
      &:after {
        background: linear-gradient(to right, rgba(232,232,232,1) 0%,rgba(190,60,95,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mute', endColorstr='#be3c5f',GradientType=1 );
      }
    }
  }
}

/**
 * Needed for IE8
 */
.progress__last:last-child:before {
  width: 146px;
  height: 146px;
  background: #be3c5f;
  border: none;
  color: #000;
}
.progress__last:before {
  position: relative;
  top: -33px;
  margin-bottom: -27px;
  z-index: 1000;
}
.progress__last:after {
  display: none!important;
}

/**
 * Size Extensions
 */
.progress--large {
  font-size: 2em;
}


.account {
  background: url("../img/block-4.jpg") center no-repeat;
  background-size: cover;
  padding: 120px 0 70px;
  height: 465px;
  > h2 {
    color: $white;
    text-align: center;
  }
  .registration {
    padding-top: 50px;
  }
  .mail {
    @include reg;
  }
  .password {
    @include reg;
  }
  .button-2 {
    @include button-2;
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
  }
}

.logo-block {
  display: inline-block;
  padding: 40px 30px;
}











